/* RESET DEFAULT STYLES*/

*,
*::after,
*::before {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: #f5f5f5;
	color: #050505;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0;
}

strong {
	font-weight: bold;
}

h1 {
	font-size: 4rem;
	font-weight: 400;
}

h2 {
	font-size: 2.5rem;
	font-weight: 300;
}

h3 {
	font-size: 2.25rem;
	font-weight: 400;
}

h4 {
	font-size: 2rem;
	margin: 0.625em 0 0.3125em 0;
}

/* NAV BAR */

.nav-bar,
.footer-bottom {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 32px 63px 41px 47px;
}

.nav-bar {
	background: white;
}

.footer-top {
	margin-top: 130px;
	background: #f88b5d;
	display: flex;
	justify-content: center;
	font-size: 1.25rem;
	font-weight: 400;
	gap: 3em;
	padding: 1.2em;
}

.footer-bottom {
	background: #282b35;
	color: #c1c1c1;
}

.nav-bar ul,
.footer-bottom ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar-left {
	justify-content: start;
	gap: 1em;
	min-width: max-content;
	font-size: 1.125rem;
	font-weight: 300;
}

.nav-bar-right {
	justify-content: end;
	gap: 5em;
	font-size: 1.25rem;
	font-weight: 400;
}

.footer-left {
	justify-content: start;
	gap: 1em;
	/* min-width: max-content; */
	font-size: 0.875rem;
	font-weight: 400;
}

.footer-right {
	justify-content: end;
	gap: 3.375em;
	font-size: 1rem;
	font-weight: 400;
}

.nav-bar img {
	width: 48px;
	height: 48px;
}

.nav-selected {
	border-bottom: 2px solid #050505;
}

.img-footer {
	width: 30px;
}
/* alternative grid layout */
/* .nav-bar{
    display: grid;
    grid-template-columns: 100px 1fr repeat(3,100px);
    grid-template-areas: "jr . projects about playground";
    grid-gap: 1em;
}

.nav-jr          { grid-area: jr; }
.nav-projects    { grid-area: projects; }
.nav-about       { grid-area: about; }
.nav-playground  { grid-area: playground; } */

.container-main {
	margin: 0 150px 0 150px;
	max-width: 1150px;
}

.ahoj {
	display: flex;
	margin: 70px 0 80px 0;
	gap: 20px;
	justify-content: space-between;
}

.ahoj-content {
	flex: 2;
}

.ahoj-picture {
	flex: 1;
	min-width: 350px;
}

.projects-container {
	/* display: flex;
    flex-direction: column; */
}

.project {
	display: flex;
	gap: 3em;
	margin-bottom: 76px; /* 4.75em */
}

.project-description {
	flex: 1;
	margin: 0;
	padding: 0;
}

.img-container {
	flex: 1;
}

.project-img {
	max-width: 100%;
}

.hashtag {
	font-weight: 400;
	margin: 0.75em 0 1.58em 0;
}

.project-btn {
	display: inline-block;
	background: #282b35;
	border: none;
	border-radius: 4px;
	color: white;
	font-weight: 500;
	font-size: 1.375rem;
	text-align: center;
	/* line-height: 100%; */
	width: 200px;
	padding-top: 13px;
	padding-bottom: 12px;
}

.project-btn:hover {
	background: #689689;
	opacity: 80%;
}

.project-btn:active {
	background: #689689;
	opacity: 100%;
}

/* about.html ///////////////////////////////////////////*/

.happy {
	color: #f88b5d;
}

.hello {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 66px;
}

.hello h1 {
	font-size: 2.625rem;
	line-height: 100%;
}

.hello-content {
	line-height: 150%;
	/* width: 300px; */
}

.hello-content p {
	margin: 1em 0;
}

.hello-img {
	width: 400px;
}

.summary {
	margin: 75px 0;
}

.inspiration {
	margin: 130px 0;
}

.inspiration-top {
	display: flex;
}

.inspiration-bottom {
	display: flex;
}

.summary {
	font-size: 2.25rem;
	font-weight: 400;
	font-style: italic;
	line-height: 120%;
}

.resume {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2em;
	/* background: blue; */
	height: auto;
	font-size: 1rem;
}

.resume-column {
	flex: 1;
	/* background: green; */
	display: flex;
	flex-direction: column;
}

.resume-column h6 {
	display: block;
	margin: 0 0 0em 0;
	height: 3em;
	font-size: inherit;
}

.resume-column ul {
	/* background-color: red; */
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.resume a {
	text-decoration: underline;
	/* border-bottom: 1px solid; */
}

.inspiration-top,
.inspiration-bottom {
	margin-top: 28px;
	display: flex;
	justify-content: space-between;
	gap: 28px;
}

.inspiration-top div,
.inspiration-bottom div {
	flex: 1;
}

.inspiration-img {
	width: 100%;
	border-radius: 2px;
}

.inspiration h7 {
	display: block;
	margin-top: 13px;
	text-align: center;
	font-size: 0.875rem;
	font-weight: 400;
	font-style: italic;
}

.inspiration-bottom h7 {
	text-align: left;
}

.see-my-work-projects {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
.see-my-work-projects div {
	flex: 1;
}

.see-my-work-projects img {
	width: 100%;
}

.see-my-work-projects p {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 150%;
}
